:root {
  font-family: Arial, sans-serif;
  color-scheme: light dark;
  color: #fff;
  background-color: 121212;
}

#signupPage {
  text-align: center;
  margin-top: 100px;
}

#OmegelCloneHeading {
  font-size: 2em;
}

.singupInputBox{
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  width: 250px;
  margin-bottom: 10px;
  background-color: #333;
}

#signupSubmitBtn{
  background-color: #4CAF50;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

#signupSubmitBtn:hover {
  background-color: #45a049; /* Darker green hover color */
}

.right {
  text-align: right;
  font-size: large;
  padding-right: 1%;
}

.left {
  text-align: left;
  font-size: large;
  padding-right: 1%;
}